
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">We Work Within Your Existing Workflow</h2>
                <p class="description">We don't ask you to change your existing process unless you ask us to. We work within the process and tools your team is already using.</p>
            </div>
        </div>
    </div>
</div>



    <div class="section section-dark section-nucleo-icons">
        <div class="container">

            <div class="row" *ngIf="showPlatform" id="platforms">
                <div class="col-lg-6 col-md-12">
                    <h2 class="title">Platforms</h2><br/>
                    <p class="description">
                        We work with all of the platforms your customers rely on. iOS, Android, Linux, macOS, Windows, Chrome, Firefox, Edge, IE, Safari. We support all of them.
                    </p><br/>
                    <a class="btn btn-danger btn-round" (click)="platformEvent()" style="color:white">Platforms</a>
                    <a class="btn btn-outline-danger btn-round" (click)="toolsEvent()">Tools</a>
                    <a class="btn btn-outline-danger btn-round" (click)="workflowEvent()">Workflow</a>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="icons-container">
                        <!-- <i class="nc-icon nc-time-alarm"></i> -->
                        <!-- <i class="nc-icon nc-camera-compact"></i>
                        <i class="nc-icon nc-watch-time"></i>
                        <i class="nc-icon nc-key-25"></i>
                        <i class="nc-icon nc-diamond"></i>
                        <i class="nc-icon nc-user-run"></i>
                        <i class="nc-icon nc-layout-11"></i>
                        <i class="nc-icon nc-badge"></i> -->
                        <!-- <i class="nc-icon nc-bulb-63"></i>
                        <i class="nc-icon nc-favourite-28"></i>
                        <i class="nc-icon nc-planet"></i>
                        <i class="nc-icon nc-tie-bow"></i>
                        <i class="nc-icon nc-zoom-split"></i>
                        <i class="nc-icon nc-cloud-download-93"></i> -->
                        <i class="nc-icon nc-atom" style="width:62px;height:62px;"></i>
                        <i><img class ="nc-icon" src="../../assets/img/platformsLogos/chrome.png" style="width:42px;height:42px;"></i>
                        <i><img src="../../assets/img/platformsLogos/firefox.png" style="width:42px;height:42px;" alt="Firefox logo"></i>
                        <i><img src="../../assets/img/platformsLogos/safari.png" style="width:42px;height:42px;" alt="Safari logo"></i>
                        <i><img src="../../assets/img/platformsLogos/edge.png" style="width:42px;height:42px;" alt="Edge logo"></i>
                        <i><img src="../../assets/img/platformsLogos/linux.png" style="width:45px;height:52px;" alt="linux logo"></i>
                        <i><img src="../../assets/img/platformsLogos/mac.png" style="width:48px;height:48px;" alt="mac logo"></i>
                        <i><img src="../../assets/img/platformsLogos/ios.png" style="width:52px;height:52px;" alt="iOS logo"></i>
                        <i><img src="../../assets/img/platformsLogos/android.png" style="width:34px;height:44px;" alt="Android logo"></i>
                        <i><img src="../../assets/img/platformsLogos/ubuntu.ico" style="width:42px;height:42px;" alt="Ubuntu logo"></i>
                        <i><img src="../../assets/img/platformsLogos/windows.png" style="width:50px;height:50px;" alt="Windows logo"></i>
                        <!-- <i><img src="../../assets/img/platformsLogos/firmware.png" style="width:42px;height:42px;" alt="Firmware logo"></i> -->
                        <i><img src="../../assets/img/platformsLogos/ionic.png" style="width:42px;height:42px;" alt="Ionic logo"></i>
                        <i><img src="../../assets/img/platformsLogos/angular.svg" style="width:42px;height:42px;" alt="Angular logo"></i>
                        <i><img src="../../assets/img/platformsLogos/laravel.png" style="width:42px;height:42px;" alt="Laravel logo"></i>
                        <i><img src="../../assets/img/platformsLogos/wordpress.png" style="width:42px;height:42px;" alt="Wordpress logo"></i>

                    </div>
                </div>
            </div>


            <div class="row" *ngIf="showTools" id="tools">
                <div class="col-lg-6 col-md-12">
                    <h2 class="title">Tools</h2><br/>
                    <p class="description">
                        We work with all of the tools your team is already using. From project management to test case management to automated frameworks, we do it all. Don't see your tool? Ask, we probably have engineers that have used it.
                    </p><br/>
                    <a class="btn btn-outline-danger btn-round" (click)="platformEvent()" >Platforms</a>
                    <a class="btn btn-danger btn-round" (onClick)="toolsEvent()" style="color:white">Tools</a>
                    <a class="btn btn-outline-danger btn-round" (click)="workflowEvent()">Workflow</a>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="icons-container">

                        <i><img class ="nc-icon" src="../../assets/img/toolsLogos/appium.png" style="width:62px;height:62px;" alt="Appium logo"></i>
                        <i><img class ="nc-icon" src="../../assets/img/toolsLogos/bugzilla.png" style="width:52px;height:62px;" alt="Bugzilla logo"></i>
                        <i><img class ="nc-icon" src="../../assets/img/toolsLogos/cucumber.png" style="width:62px;height:62px;" alt="Cucumber logo"></i>
                        <i><img class ="nc-icon" src="../../assets/img/toolsLogos/GitHub.png" style="width:82px;height:82px;" alt="GitHub logo"></i>
                        <i><img class ="nc-icon" src="../../assets/img/toolsLogos/jenkins.png" style="width:62px;height:82px;" alt="jenkins logo"></i>
                        <i><img class ="nc-icon" src="../../assets/img/toolsLogos/jira.png" style="width:112px;height:52px;" alt="jira logo"></i>
                        <i><img class ="nc-icon" src="../../assets/img/toolsLogos/pivotal.png" style="width:92px;height:52px;" alt="pivotal logo"></i>
                        <i><img class ="nc-icon" src="../../assets/img/toolsLogos/jmeter.png" style="width:102px;height:82px;" alt="jmeter logo"></i>
                        <i><img class ="nc-icon" src="../../assets/img/toolsLogos/selenium.png" style="width:82px;height:72px;" alt="selenium logo"></i>
                        <!-- <i><img class ="nc-icon" src="../../assets/img/toolsLogos/testlink.png" style="width:82px;height:42px;" alt="testlink logo"></i> -->
                        <i><img class ="nc-icon" src="../../assets/img/toolsLogos/testrail.png" style="width:52px;height:37px;" alt="testrail logo"></i>
                        <i><img class ="nc-icon" src="../../assets/img/toolsLogos/xray.png" style="width:142px;height:102px;" alt="xray logo"></i>
                        <i><img class ="nc-icon" src="../../assets/img/toolsLogos/zephyr.png" style="width:112px;height:92px;" alt="zephyr logo"></i>
                        <i><img class ="nc-icon" src="../../assets/img/toolsLogos/uft.png" style="width:72px;height:72px;" alt="HP UFT logo"></i>
                        <i><img class ="nc-icon" src="../../assets/img/toolsLogos/loadrunner.png" style="width:92px;height:72px;" alt="Loadrunner logo"></i>
                        <i><img class ="nc-icon" src="../../assets/img/toolsLogos/basecamp.png" style="width:82px;height:62px;" alt="Basecamp logo"></i>
                        <!-- <i><img class ="nc-icon" src="../../assets/img/toolsLogos/zephyr.png" style="width:112px;height:92px;" alt="zephyr logo"></i> -->



                    </div>
                </div>
            </div>


            <div class="row" *ngIf="showWorkflow" id="workflow">
                <div class="col-lg-6 col-md-12">
                    <h2 class="title">Workflow</h2><br/>
                    <p class="description">
                        We work with all of the platforms your customers rely on. iOS, Android, Linux, macOS, Windows, Chrome, Firefox, Edge, IE, Safari. We support all of them.
                    </p><br/>
                    <a class="btn btn-outline-danger btn-round" (click)="platformEvent()" >Platforms</a>
                    <a class="btn btn-outline-danger btn-round" (click)="toolsEvent()">Tools</a>
                    <a class="btn btn-danger btn-round" style="color:white" (click)="workflowEvent()">Workflow</a>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="icons-container">


                                              <i><img class ="nc-icon" src="../../assets/img/toolsLogos/GitHub.png" style="width:82px;height:82px;" alt="GitHub logo"></i>
                                              <i><img class ="nc-icon" src="../../assets/img/toolsLogos/jira.png" style="width:112px;height:52px;" alt="jira logo"></i>
                                              <i><img class ="nc-icon" src="../../assets/img/toolsLogos/pivotal.png" style="width:112px;height:62px;" alt="pivotal logo"></i>
                                              <i><img class ="nc-icon" src="../../assets/img/toolsLogos/skype.png" style="width:82px;height:82px;" alt="skype logo"></i>
                                              <i><img class ="nc-icon" src="../../assets/img/toolsLogos/hipchat.png" style="width:112px;height:62px;" alt="hipchat logo"></i>
                                              <i><img class ="nc-icon" src="../../assets/img/toolsLogos/slack.png" style="width:82px;height:62px;" alt="slack logo"></i>
                                              <i><img class ="nc-icon" src="../../assets/img/toolsLogos/basecamp.png" style="width:72px;height:52px;" alt="Basecamp logo"></i>
                                              <i><img class ="nc-icon" src="../../assets/img/toolsLogos/asana.png" style="width:82px;height:72px;" alt="asana logo"></i>
                                              <i><img class ="nc-icon" src="../../assets/img/toolsLogos/hangouts.png" style="width:82px;height:72px;" alt="hangouts logo"></i>
                                              <i><img class ="nc-icon" src="../../assets/img/toolsLogos/trello.png" style="width:52px;height:52px;" alt="Trello logo"></i>
                                              <i><img class ="nc-icon" src="../../assets/img/toolsLogos/excel.png" style="width:112px;height:82px;" alt="Excel logo"></i>
                                              <i><img class ="nc-icon" src="../../assets/img/toolsLogos/gotomeeting.png" style="width:82px;height:62px;" alt="GoToMeeting logo"></i>
                                              <!-- <i><img class ="nc-icon" src="../../assets/img/toolsLogos/basecamp.png" style="width:82px;height:62px;" alt="Basecamp logo"></i>
                                              <i><img class ="nc-icon" src="../../assets/img/toolsLogos/basecamp.png" style="width:82px;height:62px;" alt="Basecamp logo"></i>
                                              <i><img class ="nc-icon" src="../../assets/img/toolsLogos/basecamp.png" style="width:82px;height:62px;" alt="Basecamp logo"></i>  -->

                                              <!-- <i><img class ="nc-icon" src="../../assets/img/toolsLogos/zephyr.png" style="width:112px;height:92px;" alt="zephyr logo"></i> -->


                    </div>
                </div>
            </div>
        </div>
    </div>
