<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/sections/bruno-abatti.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                    <div class="card card-register">
                        <h2 class="card-title" style="color:white">Email Sent!</h2>
                        <h4 style="color:white" class="text-center">
                          Check your email!</h4>
                          <br/>
                          <h5 class="text-center">
                          An email has been sent to your account to reset your password.
                          <br/>
                          <br/>
                        </h5>
                        <a href="/home" class="btn btn-danger btn-block btn-round">Go to HomePage</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
