
<div class="text-center" style="color:white">
  <h3 style="font-weight:bolder">Select Categories You'd Like Help With</h3>
<br/>
  <!-- <h4 class="title"><small>Cards with products</small></h4> -->
<div class="row">
    <div class="col-md-4">
        <div class="card" data-background="image" style="height:300px; background-image: url('assets/img/black.jpg');">
            <div class="card-body">
                <!-- <h6 class="card-category"> -->
                    <!-- <i class="fa fa-newspaper-o"></i>Quality Assurance</h6> -->
                    <h3 class="card-title" style="color:white; font-weight:bolder;">Quality Assurance</h3>
                    <br/>
                    <br/>
                    <img src="../../assets/img/qa-icon.png" style="width:82px;height:82px;" alt="QA icon">
                <!-- <p class="card-description">
                     It clarifies the product’s structure. Better still, it can make the product clearly express its function by making use of the user’s intuition.
                </p> -->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" data-background="image" style="height:300px; background-image: url('assets/img/black.jpg');">
            <div class="card-body">
                <!-- <h6 class="card-category"> -->
                    <h3 class="card-title"  style="color:white; font-weight:bolder;">Software Development</h3>
                    <br/>
                    <br/>
                    <img src="../../assets/img/dev-icon.png" style="width:82px;height:82px;" alt="Dev icon">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" data-background="image" style="height:300px; background-image: url('assets/img/black.jpg');">
            <div class="card-body">
                <!-- <h6 class="card-category"> -->
                    <!-- <i class="fa fa-newspaper-o"></i>Monitoring</h6> -->
                <a href="#pablo">
                    <h3 class="card-title" style="color:white; font-weight:bolder;">Monitoring</h3>
                    <br/>
                    <br/>
                    <img src="../../assets/img/monitoring-icon.png" style="width:82px;height:82px;" alt="Dev icon">
                </a>
                <!-- <p class="card-description">
                     It clarifies the product’s structure. Better still, it can make the product clearly express its function by making use of the user’s intuition.
                </p> -->
            </div>
        </div>
    </div>
  </div>


</div>
