<div class="alert alert-warning text-center" *ngIf="showAlert">
  <strong>Please select at least one!</strong>
</div>


  <div *ngIf=isFirstQuestion class="text-center" style="color:white">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
    <button class="mr-auto ml-auto btn-sm" style="font-weight:bold; font-size:2em; background-color:Transparent; outline:none; border:none; color:white;"> {{firstQuestion.name}} </button>

  </div>
  <div class="col-md-3">
    <button class="btn btn-neutral btn-round mr-auto ml-auto" (click)="firstQuestionNext()">Next ></button>
  </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-md-4" *ngFor="let choice of firstQuestion.choices" (click)="toggleSelected(choice, firstQuestion)">
        <div class="card" data-background="image" [ngStyle]="{ 'background-image': 'url(' + choice.backgroundImage + ')' }" style="height:150px; margin-left: 2em; margin-right: 2em;" [style.border]="choice.isSelected ? '5px solid blue' : 'none'" id="cardId">
            <div class="card-body">
                    <h3 class="card-title" style="color:white; font-weight:bolder;"><strong>{{choice.name}}</strong></h3>
                    <!-- <br/>
                    <br/>
                    <img src={{choice.icon}} style="width:82px;height:82px;" alt="QA icon"> -->

            </div>
        </div>
    </div>
</div>
</div>

<div *ngIf="isQuestions">
  <div id="service categories" *ngFor="let question of questions">
      <div *ngIf=question.isVisible>
      <div class="text-center" style="color:white">
      <div class="row">
        <div class="col-md-3">
          <button class="btn btn-neutral btn-round mr-auto ml-auto" (click)="previousQuestion(question)">< Previous</button>
        </div>
        <div class="col-md-6">
        <button class="mr-auto ml-auto btn-sm" style="font-weight:bold; font-size:2em; background-color:Transparent; outline:none; border:none; color:white;"> {{question.name}} <small *ngIf="question.id !=1"> - {{completed | number:'2.0-0'}}%</small></button>

      </div>
      <div class="col-md-3">
        <button *ngIf="question.id != lastQuestionId" class="btn btn-neutral btn-round mr-auto ml-auto" (click)="nextQuestion(question)">Next ></button>
        <button *ngIf="isResourceQuestionNext" class="btn btn-neutral btn-round mr-auto ml-auto" (click)="nextResources(question)">Next ></button>
      </div>
      </div>
      <br/>

      <div class="row">




        <div class="col-md-4" *ngFor="let choice of question.choices" (click)="toggleSelected(choice, question)">
            <div class="card" data-background="image" [ngStyle]="{ 'background-image': 'url(' + choice.backgroundImage + ')' }" style="height:150px; margin-left: 2em; margin-right: 2em;" [style.border]="choice.isSelected ? '5px solid blue' : 'none'" id="cardId">
                <div class="card-body">
                        <h3 class="card-title" style="color:white; font-weight:bolder;"><strong>{{choice.name}}</strong></h3>
                        <!-- <br/>
                        <br/>
                        <img src={{choice.icon}} style="width:82px;height:82px;" alt="QA icon"> -->

                </div>
            </div>
        </div>



    </div>
    </div>
    </div>
  </div>
</div>


<div id="numQA" *ngIf="isResourceQuestion">
  <!-- ask question to select number of resources -->
  <div class="row text-center">
    <div class="col-md-3">
      <button class="btn btn-neutral btn-round mr-auto ml-auto" (click)="resourcesBackClicked(resourcesQuestion)">< Previous</button>
    </div>
    <div class="col-md-6">
    <button class="mr-auto ml-auto btn-sm" style="font-weight:bold; font-size:2em; background-color:Transparent; outline:none; border:none; color:white;"> {{resourcesQuestion.name}} </button>

  </div>
  <div class="col-md-3">
    <button class="btn btn-neutral btn-round mr-auto ml-auto" (click)="resourcesNextClicked(resourcesQuestion)">Next ></button>
  </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-md-6" *ngFor="let choice of resourcesQuestion.choices" (click)="toggleSelected(choice, resourcesQuestion)">
        <div class="card" data-background="image" [ngStyle]="{ 'background-image': 'url(' + choice.backgroundImage + ')' }" style="height:150px; margin-left: 2em; margin-right: 2em;" [style.border]="choice.isSelected ? '5px solid blue' : 'none'" id="cardId">
            <div class="card-body">
                    <h3 class="card-title" style="color:white; font-weight:bolder;"><strong>{{choice.name}}</strong></h3>
                    <!-- <br/>
                    <br/>
                    <img src={{choice.icon}} style="width:82px;height:82px;" alt="QA icon"> -->

            </div>
        </div>
    </div>
</div>

</div>




<div *ngIf="isResourceHelp">
  <div id="service categories" *ngFor="let question of myResourceQuestions">
      <div *ngIf=question.isVisible>
      <div class="text-center" style="color:white">
      <div class="row">
          <div class="col-md-3">
            <button *ngIf="question.id != 1" class="btn btn-neutral btn-round mr-auto ml-auto" (click)="previousQuestionResources(question)">< Previous</button>
            <button *ngIf="question.id == 1" class="btn btn-neutral btn-round mr-auto ml-auto" (click)="previousToResourceQuestion(question)">< Previous</button>
          </div>
          <div class="col-md-6">
          <button class="mr-auto ml-auto btn-sm" style="font-weight:bold; font-size:2em; background-color:Transparent; outline:none; border:none; color:white;"> {{question.name}}</button>

        </div>
        <div class="col-md-3">
          <button *ngIf="question.id != resourceLastQuestionId" class="btn btn-neutral btn-round mr-auto ml-auto" (click)="nextQuestionResources(question)">Next ></button>
          <button *ngIf="isSelectNext || question.id == resourceLastQuestionId" class="btn btn-neutral btn-round mr-auto ml-auto" (click)="nextResourceHelp(question)">Next ></button>
        </div>
      </div>
      <br/>

      <div class="row">




        <div class="col-md-4" *ngFor="let choice of question.choices" (click)="toggleSelected(choice, question)">
            <div class="card" data-background="image" [ngStyle]="{ 'background-image': 'url(' + choice.backgroundImage + ')' }" style="height:150px; margin-left: 2em; margin-right: 2em;" [style.border]="choice.isSelected ? '5px solid blue' : 'none'" id="cardId">
                <div class="card-body">
                        <h3 class="card-title" style="color:white; font-weight:bolder;"><strong>{{choice.name}}</strong></h3>
                        <!-- <br/>
                        <br/>
                        <img src={{choice.icon}} style="width:82px;height:82px;" alt="QA icon"> -->

                </div>
            </div>
        </div>



    </div>
    </div>
    </div>
  </div>
</div>


<div id="numQA" *ngIf="isSelectResources">
  <!-- ask question to select number of resources -->
    <!-- <div class="text-center">
    <button class="btn btn-neutral btn-round mr-auto ml-auto" (click)="resourcesSelected()">Select Resources </button>
  </div> -->
  <div *ngIf="isOurRecommendation">
    <h3 class="text-center" style="color:white; font-weight:bolder" >We recommend: </h3>
  </div>
  <div class='row text-center' style="color:white; font-weight:bolder;">
    <div class="col-md-4">
      <h2>QA Resources</h2>
      <br/>
    </div>
    <div class="col-md-4">
      <h2>Dev Resources</h2>
      <br/>
    </div>
    <div class="col-md-4">
      <h2>Monitoring Resources</h2>
      <br/>
    </div>
  </div>

  <div class="text-center">
  <!-- <h1>You're all set!</h1> -->
  <button class="btn btn-warning btn-round mr-auto ml-auto" (click)="lastQuestion()">Create Account and Save ></button>
  <h4 style="color:white; font-weight:bolder;"> We'll reach out shortly to schedule a setup call and answer any questions. <br/>Don't worry, you're not committing to anything yet.</h4>
</div>
</div>



<div id="numQA" *ngIf="isLastQuestion">
  <!-- ask question to select number of resources -->
  <div class="text-center">
  <h1>You're all set!</h1>
  <br/>
  <button class="btn btn-warning btn-round mr-auto ml-auto" (click)="lastQuestion()">View Dashboard ></button>
</div>

  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">

  </div>
  <div class="col-md-3">
  </div>
  </div>
  <br/>


</div>
