
<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/login-image.jpg');">
  <div class="filter1">
</div>
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 style="font-weight:bold">Hello, <br /> We are Seva Development.</h1>
            <!-- <h3>Check out our whitepapers and blog.</h3> -->
            <br /><br />

            <h4  style="font-weight:bolder">Let us tell you more about what we do.
<!-- <br /> <br /> -->
</h4>
<!-- Cotopaxi funds solutions that address the most persistent needs of those living in extreme poverty. Giving is core to our model. As a Delaware Public Benefit Corporation, Cotopaxi has made a commitment to creating positive social impact. We focus our efforts on global poverty alleviation & give targeted grants to advance health, education, and livelihoods initiatives around the world. </h4> -->
<br /><br />
            <!-- <a href="/blog" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Impact Report</a> -->
            <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
        </div>
    </div>
  <!-- </div> -->
</div>


<div class="wrapper">
<div class="main">
<div class="section section-gray">
    <div class="container">
        <h3 class="title-uppercase">We build great products.</h3>
        <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>

        <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. </p>

        <h3 class="title-uppercase">We <i class="fa fa-heart heart"></i>&nbsp; what we do.</h3>
        <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>

<br/><br/>

                <h2 class="text-center creators">Portfolio</h2>
<br/><br/>
                <div class="row coloured-cards">
                    <div class="col-md-4 col-sm-6">
                        <div class="card-big-shadow">
                            <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none" style="background-color: #cceeff;">
                                <div class="card-body">
                                    <h6 class="card-category">Custom Hardware and Software QA</h6>
                                    <h4 class="card-title"><a href="#paper-kit">Vivint</a></h4>
                                    <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                                </div>
                            </div> <!-- end card -->
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="card-big-shadow">
                            <div class="card card-just-text" data-background="color" data-color="green" data-radius="none"  style="background-color: #cceeff;">
                                <div class="card-body">
                                    <h6 class="card-category">Manual QA</h6>
                                    <h4 class="card-title"><a href="#paper-kit">Silvervue</a></h4>
                                    <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                                </div>
                            </div> <!-- end card -->
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="card-big-shadow">
                            <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none"  style="background-color: #cceeff;">
                                <div class="card-body">
                                    <h6 class="card-category">Full QA and Dev</h6>
                                    <h4 class="card-title"><a href="#paper-kit">Driving Sales</a></h4>
                                    <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                                </div>
                            </div> <!-- end card -->
                        </div>
                    </div>
                </div>

        <h2 class="text-center creators">Creators</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-body">
                        <div class="card-avatar">
                            <a href="#avatar">
                                <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="...">
                                <h4 class="card-title">Eric Thomson</h4>
                            </a>
                        </div>
                        <p class="card-description text-center">
                            A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes orchestra to play it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#pablo" class="btn btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                        <a href="#pablo" class="btn btn-just-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-body">
                        <div class="card-avatar">
                            <a href="#avatar">
                                <img src="./assets/img/faces/joe-gardner-2.jpg" alt="...">
                                <h4 class="card-title">Sophia West</h4>
                            </a>
                        </div>
                        <p class="card-description text-center">
                            The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#pablo" class="btn btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                        <a href="#pablo" class="btn btn-just-icon btn-pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-body">
                        <div class="card-avatar">
                            <a href="#avatar">
                                <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="...">
                                <h4 class="card-title">Lucas Andrew</h4>
                            </a>
                        </div>
                        <p class="card-description text-center">
                            Great teams do not hold back with one another. They are unafraid to air their dirty laundry. They admit their mistakes, their weaknesses and their concerns without fear of reprisal.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-just-icon btn-youtube"><i class="fa fa-youtube"></i></a>
                        <a href="#pablo" class="btn btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-just-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>
