<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 style="font-weight:bold">Bridge Your QA Gap</h1>
            <h3>Check out our whitepapers and blog.</h3>
            <br />
            <a href="/blog" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Blog</a>
            <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
        </div>
    </div>
</div>

<div class="cd-section section-gray section-sections" id="pricing">

<!--     *********    PRICING 1     *********      -->
    <div class="pricing-1 section"  style="background-color: #eeeeee">
      <!-- <div class="pricing-1 section"> -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h2 class="title">See how we've helped our clients</h2>
                    <h5 class="description" style="color:black">From early startup to post-IPO, we can help companies of all size.</h5>
                </div>
            </div>
            <div class="space-top"></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-pricing" data-color="orange">
                        <div class="card-body">
                            <div class="card-icon">
                                <!-- <span class="icon-simple"><i class="nc-icon nc-basket"></i></span> -->
                                <img src="../../assets/img/vivint.png" style="width:100%; height:75px;" alt="Vivint logo">
                            </div>
                            <h3 class="card-title">Vivint Smart Home</h3>

                            <p class="card-description">
                                Augmenting an existing team to accelerate releases and increase coverage.
                            </p>
                            <div class="card-footer">
                                <a href="/whitepaper" class="btn btn-info btn-round">Read the Study</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-pricing" data-color="yellow">
                        <div class="card-body">
                            <div class="card-icon">
                                <!-- <span class="icon-simple"><i class="nc-icon nc-watch-time"></i></span> -->
                                <img src="../../assets/img/silvervueLogo.png" style="width:100%; height:75px;" alt="Silvervue logo">

                            </div>
                            <h3 class="card-title">Silvervue</h3>

                            <p class="card-description">
                                Building a QA process across multiple products, with an existing team and from scratch.
                            </p>
                            <div class="card-footer">
                                <a href="/whitepaper" class="btn btn-info btn-round">Read the Study</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-pricing" data-color="green">
                        <div class="card-body">
                            <div class="card-icon">
                                <!-- <span class="icon-simple"><i class="nc-icon nc-settings"></i></span> -->
                                <img src="../../assets/img/drivingSalesLogo.png" class="img-rounded" style="width:100%; height:75px;" alt="DrivingSales logo">

                            </div>
                            <h3 class="card-title">Driving Sales</h3>

                            <p class="card-description">
                                Implementing a QA process from scratch within an agile platform.
                            </p>
                            <div class="card-footer">
                                <a href="/whitepaper" class="btn btn-info btn-round">Read the Study</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-pricing" data-color="blue">
                        <div class="card-body">
                            <div class="card-icon">
                                <!-- <span class="icon-simple"><i class="nc-icon nc-istanbul"></i></span> -->
                                <img src="../../assets/img/chatbooksLogo.png" style="width:100%; height:75px;" alt="Chatbooks logo">

                            </div>
                            <h3 class="card-title">Chatbooks</h3>

                            <p class="card-description">
                                The impact of one company on a Nepalese community and two Nepalese families.
                            </p>
                            <div class="card-footer">
                                <a href="/whitepaper" class="btn btn-info btn-round">See the Impact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
