<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/nepaleseChildren.jpeg');">
  <div class="filter1">
</div>
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 style="font-weight:bold">What we do</h1>
            <!-- <h3>Check out our whitepapers and blog.</h3> -->
            <h4  style="font-weight:bolder">We create innovative outdoor products and experiences that fund sustainable poverty alleviation, move people to do good, and inspire adventure.
<!-- <br /> <br /> -->
</h4>
<!-- Cotopaxi funds solutions that address the most persistent needs of those living in extreme poverty. Giving is core to our model. As a Delaware Public Benefit Corporation, Cotopaxi has made a commitment to creating positive social impact. We focus our efforts on global poverty alleviation & give targeted grants to advance health, education, and livelihoods initiatives around the world. </h4> -->
<br /><br /> <br/><br/><br/><br/><br/><br/><br/><br/>
            <a href="/blog" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Impact Report</a>
            <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
        </div>
    </div>
  <!-- </div> -->
</div>

<div class="cd-section section-gray section-sections" id="pricing">

<!--     *********    PRICING 1     *********      -->
    <div class="pricing-1 section"  style="background-color: #eeeeee">
      <!-- <div class="pricing-1 section"> -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h2 class="title">Employee Stories</h2>
                    <h5 class="description" style="color:black">From early startup to post-IPO, we can help companies of all size.</h5>
                </div>
            </div>
            <div class="space-top"></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-pricing" data-color="orange">
                        <div class="card-body">
                            <div class="card-icon">
                                <!-- <span class="icon-simple"><i class="nc-icon nc-basket"></i></span> -->
                                <img src="../../assets/img/vivint.png" style="width:222px;height:82px;" alt="Vivint logo">
                            </div>
                            <h3 class="card-title">Vivint Smart Home</h3>

                            <p class="card-description">
                                Augmenting an existing team to accelerate releases and increase coverage.
                            </p>
                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-info btn-round">Read the Study</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-pricing" data-color="yellow">
                        <div class="card-body">
                            <div class="card-icon">
                                <!-- <span class="icon-simple"><i class="nc-icon nc-watch-time"></i></span> -->
                                <img src="../../assets/img/silvervueLogo.png" style="width:222px;height:72px;" alt="Silvervue logo">

                            </div>
                            <h3 class="card-title">Silvervue</h3>

                            <p class="card-description">
                                Building a QA process across multiple products, with an existing team and from scratch.
                            </p>
                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-info btn-round">Read the Study</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-pricing" data-color="green">
                        <div class="card-body">
                            <div class="card-icon">
                                <!-- <span class="icon-simple"><i class="nc-icon nc-settings"></i></span> -->
                                <img src="../../assets/img/drivingSalesLogo.png" class="img-rounded" style="width:222px;height:82px;" alt="DrivingSales logo">

                            </div>
                            <h3 class="card-title">Driving Sales</h3>

                            <p class="card-description">
                                Implementing a QA process from scratch within an agile platform.
                            </p>
                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-info btn-round">Read the Study</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-pricing" data-color="blue">
                        <div class="card-body">
                            <div class="card-icon">
                                <!-- <span class="icon-simple"><i class="nc-icon nc-istanbul"></i></span> -->
                                <img src="../../assets/img/chatbooksLogo.png" style="width:222px;height:72px;" alt="Chatbooks logo">

                            </div>
                            <h3 class="card-title">Chatbooks</h3>

                            <p class="card-description">
                                The impact of one company on a Nepalese community and two Nepalese families.
                            </p>
                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-info btn-round">See the Impact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Poverty Impact by the Numbers</h2>
                <h5 class="description">Select the services you need, the subscription timeframe (weekly/monthly), view your price, and get started! No commitments and no premiums. Get the flexibility you need for your dev lifecycle.</h5>
                <br>
                <a href="/services" class="btn btn-danger btn-round">Get Started</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-cart-simple"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Select Services</h4>
                        <p class="description">What do you need? Manual QA, Automatioin QA, don't know? We can help. We also have expertise in dev and monitoring. Choose the skill sets you need.</p>
                        <a href="/services" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-calendar-60"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Select Timeframe</h4>
                        <p>No long term commitments. Try it out for a week or a month. Change when you need. Use for as long as you need wihtout the risk!</p>
                        <a href="/services" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">View Price</h4>
                        <p>No hidden fees or surprises. See what your cost will be. Change whenever you need. We'll explain more over the setup call, before you'd be billed.</p>
                        <a href="/pricing" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Get Started</h4>
                        <p>We'll schedule a setup call (still no commitment) to help you get going. We'll go through what you need, the tools you use, and help you get started!</p>
                        <a href="/services" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">How You Can Help</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/web.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Work With Us</h4>
                                <h6 class="card-category">Give Them The Resources They Need</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        The biggest difference you can make is by working with us. The more engineers working, the more sustainble jobs we can provide and the more we can develop the local economies.
                        </p>
                    </div>
                    <!-- <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div> -->
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/desktop.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Expedition</h4>
                                <h6 class="card-category">Through Choice Humanitarian</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Visit Nepal. Help train the locals to work together.
                        </p>
                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/Iphone.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Refer Us</h4>
                                <h6 class="card-category">Any Device</h6>
                            </div>
                        </a>
                        <!-- <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p> -->
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/vr.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Custom</h4>
                                <h6 class="card-category">VR/AR, Custom Hardware, etc.</h6>
                            </div>
                        </a>
                        <!-- <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
