<!-- <div class="pricing-1 section"> -->
      <div class="container">
        <h2 class="text-center" style="color:white; font-weight:bolder;">Summary</h2>
        <br/>
          <!-- <div class="space-top"></div> -->
          <div class="row">
              <div class="col-md-4">
                  <div class="card card-pricing" data-color="orange">
                      <div class="card-body">
                          <div class="card-icon">
                              <span class="icon-simple"><i class="nc-icon nc-basket"></i></span>
                          </div>
                          <h3 class="card-title">$199</h3>

                          <p class="card-description">
                              This is good if your company size is between 5 and 20 employees.
                          </p>
                          <!-- <div class="card-footer">
                              <a href="#pablo" class="btn btn-neutral btn-round">Choose Plan</a>
                          </div> -->
                      </div>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="card card-pricing" data-color="yellow">
                      <div class="card-body">
                          <div class="card-icon">
                              <span class="icon-simple"><i class="nc-icon nc-watch-time"></i></span>
                          </div>
                          <h3 class="card-title">$249</h3>

                          <p class="card-description">
                              This is good if your company size is between 21 and 59 employees.
                          </p>
                          <!-- <div class="card-footer">
                              <a href="#pablo" class="btn btn-neutral btn-round">Choose Plan</a>
                          </div> -->
                      </div>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="card card-pricing" data-color="green">
                      <div class="card-body">
                          <div class="card-icon">
                              <span class="icon-simple"><i class="nc-icon nc-settings"></i></span>
                          </div>
                          <h3 class="card-title">$359</h3>

                          <p class="card-description">
                              This is good if your company size is between 60 and 159 employees.
                          </p>
                          <!-- <div class="card-footer">
                              <a href="#pablo" class="btn btn-neutral btn-round">Choose Plan</a>
                          </div> -->
                      </div>
                  </div>
              </div>

              <!-- <div class="col-md-3">
                  <div class="card card-pricing" data-color="blue">
                      <div class="card-body">
                          <div class="card-icon">
                              <span class="icon-simple"><i class="nc-icon nc-istanbul"></i></span>
                          </div>
                          <h3 class="card-title">$599</h3>

                          <p class="card-description">
                              This is good if your company size is between 160 and 299 employees.
                          </p>
                      </div>
                  </div>
              </div> -->
          </div>
      </div>
  <!-- </div> -->
