<!-- <div class="pricing-1 section"> -->
      <div class="container">
        <h3 class="text-center" style="color:white; font-weight:bolder;"><em><b>Pricing</b></em></h3>
        <br/>
          <!-- <div class="space-top"></div> -->
          <div class="row">
              <div class="col-md-4">
                  <div class="card card-pricing" data-color="orange">
                      <div class="card-body">
                          <div class="card-icon">
                            <span class="icon-simple"><i class="nc-icon nc-zoom-split"></i><h1 style="color:white">QA</h1></span>
                              <!-- <span class="icon-simple"><i class="nc-icon nc-basket"></i><h1 style="color:white">QA</h1></span> -->
                          </div>
                          <h3 class="card-title">$2600/Engineer</h3>

                          <p class="card-description" style="font-weight:bold">
                              Engineers with CS/IT degrees with dedicated training and vast experience in QA.
                          </p>
                          <!-- <div class="card-footer">
                              <a href="#pablo" class="btn btn-neutral btn-round">Choose Plan</a>
                          </div> -->
                      </div>
                  </div>
              </div>


              <div class="col-md-4">
                  <div class="card card-pricing" data-color="green">
                      <div class="card-body">
                          <div class="card-icon">
                              <span class="icon-simple"><i class="nc-icon nc-settings"></i><h1 style="color:white">Dev</h1></span>
                          </div>
                          <h3 class="card-title">$2900/Engineer</h3>

                          <p class="card-description"  style="font-weight:bold">
                              Developers with CS/IT degrees. Need a specific language/framework? We have someone who can do it.
                          </p>
                          <!-- <div class="card-footer">
                              <a href="#pablo" class="btn btn-neutral btn-round">Choose Plan</a>
                          </div> -->
                      </div>
                  </div>
              </div>


              <div class="col-md-4">
                  <div class="card card-pricing" data-color="yellow">
                      <div class="card-body">
                          <div class="card-icon">
                              <span class="icon-simple"><i class="nc-icon nc-watch-time"></i><h1 style="color:white">Monitoring</h1></span>
                          </div>
                          <h3 class="card-title">$2000/Engineer</h3>

                          <p class="card-description" style="font-weight:bold">
                              Implement state of the art monitoring tools. We can help continue monitoring them as well if you'd like.
                          </p>
                          <!-- <div class="card-footer">
                              <a href="#pablo" class="btn btn-neutral btn-round">Choose Plan</a>
                          </div> -->
                      </div>
                  </div>
              </div>

              <!-- <div class="col-md-3">
                  <div class="card card-pricing" data-color="blue">
                      <div class="card-body">
                          <div class="card-icon">
                              <span class="icon-simple"><i class="nc-icon nc-istanbul"></i></span>
                          </div>
                          <h3 class="card-title">$599</h3>

                          <p class="card-description">
                              This is good if your company size is between 160 and 299 employees.
                          </p>
                      </div>
                  </div>
              </div> -->
          </div>
      </div>
  <!-- </div> -->
