.center_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0 auto;
  align-content: center;

  // background: yellow;
}

.card1 {
  border: 1px solid;
  margin: 10px;
  text-align: center;
}

.cards_wrapper {
    width: 80%;
    margin: 0 auto;
    align-content: center;
}

// .backgroundFlip {
//
// }
//
// .backgroundFlip:after {
//     -moz-transform: scaleY(-1);
//     -o-transform: scaleY(-1);
//     -webkit-transform: scaleY(-1);
//     transform: scaleY(-1);
//     filter: FlipV;
//     -ms-filter: "FlipV";
// }
