<!-- <div  class="card text-center" data-background="image" style="background-image: url('assets/img/sections/mika-matin.jpg'); height:180px;">

      <div class="card-body">

      <h3 ><b>Resource Summary:</b></h3>
      <ul style="list-style: none; color:white; font-weight:bold;">
          <li><b><strong>{{resources[0].numberResources}}</strong></b> - QA Resources</li>
          <li><b><strong>{{resources[1].numberResources}}</strong></b> - Dev Resources</li>
          <li><b><strong>{{resources[2].numberResources}}</strong></b> - Monitoring Resources</li>
      </ul>
    </div>

</div> -->

<!-- <div class="card text-center" style="opacity:0.9; height:180px;">
      <h2 class="card-title">Resources:</h2>
      <br/>
      <ul style="list-style: none;">
          <li><b><strong>{{resources[0].numberResources}}</strong></b> - <b>QA</b> Resources</li>
          <li><b><strong>{{resources[1].numberResources}}</strong></b> - <b>Dev</b> Resources</li>
          <li><b><strong>{{resources[2].numberResources}}</strong></b> - <b>Monitoring</b> Resources</li>
      </ul>
</div> -->
<div class="card text-center" style="opacity:0.9; height:180px;">
        <h2 class="card-title"><strong>Resources:</strong></h2>
        <ul style="list-style: none;">
            <li><strong><b>{{qaResources}} QA</b></strong> Engineer(s)</li>
            <li><b><strong>{{devResources}} Dev</strong></b> Engineer(s)</li>
            <li><b><strong>{{monitoringResources}} Monitoring</strong></b> Engineer(s)</li>
        </ul>

</div>
