<div  class="card" data-background="image" style="background-image: url('assets/img/sections/mika-matin.jpg')">

      <div class="card-body">

      <h3 ><b>Resource Summary:</b></h3>
      <ul>
          <li><b><strong>{{resources[0].numberResources}}</strong></b> - QA Resources</li>
          <li><b><strong>{{resources[1].numberResources}}</strong></b> - Dev Resources</li>
          <li><b><strong>{{resources[2].numberResources}}</strong></b> - Monitoring Resources</li>
      </ul>
    </div>

</div>
