<div  class="card" data-background="image" style="background-image: url('assets/img/sections/mika-matin.jpg')">
    <!-- <div class="card-image">
        <a href="#pablo">
            <img class="img" src="../assets/img/sections/neill-kumar.jpg">
        </a>
    </div> -->
    <!-- <div class="text-center"> -->
      <!-- <div class="card-body text-center"> -->
      <div class="card-body">

      <h3 ><b>Resource Summary:</b></h3>
      <ul>
          <li><b><strong>2</strong></b> QA Resources</li>
          <li><b><strong>0</strong></b> Dev Resources</li>
          <li><b><strong>0</strong></b> Monitoring Resources</li>
      </ul>
    </div>
        <!-- <h4 class="card-title"> -->
        <!-- <h4>
            Resource Summary
        </h4> -->
        <!-- <br/> -->
        <!-- <div class="card-description"> -->
        <!-- <div>
            <p>QA Resources : 2</p>
            <p>Dev Resources : 0 </p>
            <p>Monitoring Resources : 0</p>
        </div> -->
    <!-- </div> -->
</div>
