
<div class="cd-section section-gray section-sections" id="pricing">

<!--     *********    PRICING 1     *********      -->
    <div class="pricing-1 section"  style="background-color: #eeeeee">
      <!-- <div class="pricing-1 section"> -->
        <div class="container">
          <a href="#" class="btn btn-info btn-round">Accept Terms</a>

            <div class="row">

                <div class="col-md-10 ml-auto mr-auto text-center">
                    <h2>View Terms and Conditions</h2>
                  <!-- <br/> -->
                    <h5 class="description" style="color:black">Feel free to reach out with questions! Basically it protects us both from getting sued, assures confidentiality for you and us, and protects our engineers.</h5>
                </div>
            </div>
            <div class="space-top"></div>
            <div class="row">

                <div class="col-md-10 ml-auto mr-auto text-center">
                    <div class="card card-pricing" data-color="blue">
                        <div class="card-body" style="margin-left:auto; margin-right:auto; height: 500px; overflow-y: scroll;">
                            <!-- <div class="card-icon">
                                <img src="../../assets/img/chatbooksLogo.png" style="width:222px;height:72px;" alt="Chatbooks logo">
                            </div> -->
                            <h2 class="card-title">Terms and Conditions</h2>

                            <p class="card-description" style="text-align: left;">
                              Seva Development, LLC <br/>
Service Agreement<br/>

Revised February 16, 2018<br/><br/>

If you ("CLIENT") currently have a written agreement in place with us, Seva Development, LLC, ("SEVA"), this Service Agreement does not alter, amend or replace that agreement. If you do not have an agreement with us, you can accept this Service Agreement upon reading the following terms and clicking on the "Agree" button. A printer-friendly version is also available for your convenience.<br/>

<br/>
<br/>1. Scope of Work. SEVA shall provide the following services for CLIENT subject to the terms and conditions contained herein. SEVA shall:
<br/><p class="tab">A.	design, develop, test (QA) and/or maintain software (the "services") in accordance with the specifications CLIENT provides to SEVA;
<br/></p><p class="tab">B.	keep CLIENT informed about on-going activities and deliveries;
<br/></p><p class="tab">C.	send to CLIENT a weekly status report containing a description of all activities completed during the prior week and a description of the time expended by SEVA in connection with such services;
<br/></p><p class="tab">D.	provide delivery of source code on terms agreed by Parties, together with a script that can be run to prove that all code can actually be compiled and properly executed;
<br/></p><p class="tab">E.	deliver to CLIENT all services in a timely manner;
<br/></p><p class="tab">F.	promptly acknowledge receipt of and implement change orders or new specifications received from CLIENT.
<br/></p><p class="tab">G.	Perform any other task agreed to with CLIENT.
<br/>
<br/></p><p style="text-align: left;">2. CLIENT's Duties. CLIENT shall:
<br/></p><p class="tab">A.	Have fifteen business days to reject any deliverables from SEVA or otherwise such deliverables shall be deemed accepted by CLIENT;
<br/></p><p class="tab">B.	if rejected, CLIENT shall provide at the time a written statement to SEVA that identifies in reasonable detail the deficiencies of such deliverables and shall allow ten days for SEVA to correct such.  For the purposes of this Agreement "Deliverables" shall mean any materials, information, work product developed or modified in the course of providing services, to include, but not limited to software, enhancements, revisions, and source code.
<br/></p><p class="tab">C.	promptly advise SEVA in writing of any changes or new specifications.
<br/>
<br/>
<br/></p><p style="text-align: left;">3. Pricing and Payment Terms. SEVA shall bill CLIENT at the beginning of each month this Agreement is in force. Payment for all billings shall be due and payable within thirty (30) days after the invoice is received. All payments not made when due will incur a pro-rated late fee of the lesser of 1% monthly or the maximum amount allowed by law. SEVA shall have the right to cease all services hereunder including all work and delivery of finished work until all outstanding billings and related surcharges are paid in full. The Parties shall work in good faith to resolve any billing dispute.
<br/>
<br/></p><p style="text-align: left;">4. Proprietary Rights.
<br/>
<br/></p><p class="tab">A.	The Parties acknowledge one another's ownership to intellectual property rights and to all proprietary software products used or created in connection with the fulfillment of this Agreement. Nothing in this Agreement shall transfer or prejudice any rights of intellectual property of either Party except that SEVA grants to CLIENT a perpetual, irrevocable, worldwide, royalty-free, non-exclusive sublicenseable right and license for the use of software product SEVA has previously developed solely as an integrated part of the Deliverable.
<br/>
<br/></p><p class="tab">B.	The software program developed hereunder, its source code and any other material which constitutes part of its design and which may be necessary for its future development, developed hereunder shall constitute a work made for hire within the meaning of Title 17 of the United States Code and shall be owned by CLIENT.
<br/>
<br/>
<br/></p><p style="text-align: left;">5. Term and Termination
This Agreement shall begin upon CLIENT's acceptance and shall remain in full force and effect until the completion of the services for CLIENT. The Agreement may be extended by mutual written agreement of the Parties.
<br/>
<br/>If either Party desires to terminate the Agreement, it shall provide the other with thirty (30) days written notice. Upon such termination all rights and duties of the Parties toward each other shall cease except that CLIENT shall be obliged to pay, within thirty (30) days of the effective date of termination, all amounts owing to SEVA for Services completed prior to the termination date and SEVA will deliver to CLIENT all source code and other work product performed by SEVA for CLIENT.
<br/>
<br/>6. Confidentiality and Nondisclosure.
SEVA and CLIENT recognize that all materials provided to one another contain confidential or proprietary information, embody substantial creative efforts or contain valuable trade secrets ("Confidential Information").The Parties shall not disclose any Confidential Information, in whole or in part, either directly or indirectly, to any third party without the prior written consent of the disclosing Party unless required by law. The Parties' obligations of confidentiality under this Agreement shall be effective as of the date of this Agreement and shall remain in effect until no Confidential Information has been exchanged between the Parties for a period of three (3) years.
<br/>
<br/>7. Independent Contractor. SEVA is acting as an independent contractor in providing the services to client. No employment, joint venture, or partnership relationship is created hereunder.
<br/>
<br/>8. Non-Solicitation. During the period of this Agreement and for a period of two (2) years after its termination, CLIENT or any CLIENT-related party shall not hire or attempt to hire any employee of SEVA.
<br/>
<br/>9. Indemnities. The Parties agree to indemnify, defend, and hold harmless one another against any losses suffered, incurred or sustained resulting from or arising out of or relating to any third-party claim of negligent, reckless or intentional misconduct.
<br/>
<br/>10. Modification. This Agreement may be extended or modified by written agreement of the Parties.
<br/>
<br/>11. Choice of Law. This Agreement shall be governed by and construed in accordance with the laws of the State of Utah, including any and all suits and proceedings hereunder.  Venue and jurisdiction is proper in the State of Utah.
<br/>
<br/>12. Severability. If any term or condition of this Agreement should be held invalid in any respect by a court, arbitrator or tribunal of competent jurisdiction, such invalidity shall not affect the validity of any other term or condition hereof.
<br/>
<br/>I, an authorized representative of CLIENT, have carefully reviewed the terms of this Service Agreement and agree to the same by clicking the ACCEPT button.
<br/>


                            </p>

                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-info btn-round">Accept Terms</a>
                        <!-- <button class="btn btn-round" (click)="open(classic)">Accept Terms</button>
<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title text-center">Modal title</h5>
        <button type="button" class="close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="c('Close click')">Never mind</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-danger btn-link" (click)="c('Close click')">Delete</button>
        </div>
    </div>
</ng-template> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
