<div style="background-image: url('../assets/img/polygon.png')">
<div>
<!-- <br/> -->
              <div class="row fixed-top serviceSum">
                <div class="col-md-4 col-sm-5">
                <div class="card card-plain">
                      <div class="card-body">
                  <app-resource-summary></app-resource-summary>

              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-1">
            </div>
              <div class="col-md-4 col-sm-6">
                <div class="card card-plain">
                    <div class="card-body">
                  <app-cost-summary></app-cost-summary>

                </div>
              </div>
            </div>
          </div>

    </div>

    <div >

                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <h1 class="text-center" style="color:white; font-weight:bold; z-index:2;">Pricing Wizard</h1>
                  <br/>
                  <br/>
                  <br/>
                  <!-- <br/>
                  <br/> -->
                    <hr/>
                  <!-- <br/>
                  <br/> -->

        </div>
        <app-price-wizard></app-price-wizard>


        <div class="row" id="price-wizard">
          <div class="column-md-12 ml-auto mr-auto">
            <hr/>
              <h1 style="color:white; font-weight:bolder;">Full Services Summary</h1>
              <br/>
          </div>
        </div>

</div>
