<!-- <div style="background-image: url('../assets/img/polygon.png');background-repeat:no-repeat; z-index:-20;"> -->
  <div style="background-image: url('../assets/img/gradientBlue.svg'); z-index:-20;">

  <div class="filter1" style="z-index:-10">
  </div>
    <br/>
    <div>
      <br/>
      <br/>
      <br/>
            <div class="row">
              <div class="col-md-4 col-sm-4" >
                    <div class="card card-plain cardMargin">
                          <!-- <div class="card-body"> -->
                      <app-resource-summary></app-resource-summary>

                  <!-- </div> -->
                </div>
              </div>

              <div class="col-md-4 col-sm-4" >
                <div >
                              <!-- <br/>
                              <br/> -->
                              <!-- <br/>
                              <br/> -->
                              <h2 class="text-center" style="color:white; font-weight:bold; z-index:2;">Services & Pricing</h2>
                              <br/>
                              <h6 class="text-center" style="color:white; font-weight:bolder;"><strong> Select weekly or monthly pricing.</strong> </h6>
                              <!-- <br/> -->
                              <!-- <br/> -->
                                <!-- <hr/> -->
                                <ngb-tabset type="pills" class="nav nav-pills justify-content-center" (tabChange)="billingTimeframe($event)">
                                    <ngb-tab title="Monthly">
                                        <ng-template ngbTabContent>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Weekly">
                                        <ng-template ngbTabContent>
                                        </ng-template>
                                      </ngb-tab>
                                    </ngb-tabset>
                                    <br/>
                                    <p><ngb-progressbar type="warning" [value]=completed></ngb-progressbar></p>
                                    <!-- <br/> -->
                                    <!-- <hr/> -->

                    </div>
              </div>

              <div class="col-md-4 col-sm-4">
                  <!-- <div class="col-md-4 col-sm-6"> -->
                    <div class="card card-plain cardMargin">
                        <!-- <div class="card-body"> -->
                      <app-cost-summary></app-cost-summary>

                    <!-- </div> -->
                  </div>
                <!-- </div> -->
              </div>
            </div>

        </div>

    <!-- <div >

                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <h1 class="text-center" style="color:white; font-weight:bold; z-index:2;">Services-Pricing</h1>
                  <h3 class="text-center" style="color:white; font-weight:bolder;"> Select services to see pricing. </h3>
                  <br/>
                  <br/>
                    <hr/>

        </div> -->
        <app-price-wizard></app-price-wizard>


        <div class="row" id="price-wizard">
          <div class="column-md-12 ml-auto mr-auto">
            <hr/>
              <!-- <h1 style="font-weight:bolder; color:white">Full Services Summary</h1>
              <br/> -->
              <app-full-service-summary></app-full-service-summary>
          </div>
        </div>

</div>
