<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section section-gray profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h2>Jane Faker<br /></h2>
                    <h6>Vivint - QA Manager</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                    <br />
                    <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Settings</button>
                </div>
            </div>
            <br/>

        </div>
    </div>
</div>
<div class="profile-content section section-gray">
     <div class="container">
         <div class="row">
             <div class="profile-picture">
                 <!-- <app-image-upload [image]="'../assets/img/faces/clem-onojeghuo-2.jpg'"></app-image-upload> -->
             </div>
         </div>
         <div class="row">
             <div class="col-md-6 ml-auto mr-auto">
                 <form class="settings-form">
                     <div class="row">
                         <div class="col-md-6 col-sm-6">
                             <div class="form-group">
                                 <label>First Name</label>
                                 <input type="text" class="form-control border-input" placeholder="First Name">
                             </div>
                         </div>

                         <div class="col-md-6 col-sm-6">
                             <div class="form-group">
                                 <label>Last Email</label>
                                 <input type="text" class="form-control border-input" placeholder="Last Name">
                             </div>
                         </div>
                     </div>
                   <div class="form-group">
                         <label>Job Title</label>
                         <input type="text" class="form-control border-input" placeholder="Job Title">
                   </div>
                   <div class="form-group">
                     <label>Description</label>
                         <textarea class="form-control textarea-limited" placeholder="This is a textarea limited to 150 characters." rows="3" maxlength="150" ></textarea>
                         <h5><small><span id="textarea-limited-message" class="pull-right">150 characters left</span></small></h5>
                   </div>

                 <!-- <label>Notifications</label>
                 <ul class="notifications">
                       <li class="notification-item">
                         Updates regarding platform changes
                         <bSwitch
                             [switch-on-color]="'info'"
                             [switch-off-color]="'info'"
                             [(ngModel)]="state_info"
                             name="first_switch">
                         </bSwitch>
                       </li>
                       <li class="notification-item">
                         Updates regarding product changes
                         <bSwitch
                             [switch-on-color]="'info'"
                             [switch-off-color]="'info'"
                             [(ngModel)]="state_info1"
                             name="second_switch">
                         </bSwitch>
                       </li>
                       <li class="notification-item">
                         Weekly newsletter
                         <bSwitch
                             [switch-on-color]="'info'"
                             [switch-off-color]="'info'"
                             [(ngModel)]="state_info2"
                             name="third_switch">
                         </bSwitch>
                       </li>
                   </ul> -->
                   <div class="text-center">
                     <button type="submit" class="btn btn-wd btn-info btn-round">Save</button>
                   </div>
                 </form>

             </div>
         </div>
     </div>
 </div>
