<div class="team-2 section-image" style="background-image: url('assets/img/pebbles.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-11 ml-auto mr-auto text-center">
                <h2 class="title">Dashboard</h2>
                <div class="project-pills">
                    <ngb-tabset type="pills" class="nav nav-pills nav-pills-warning justify-content-center">
                        <ngb-tab title="Profile">
                            <ng-template ngbTabContent>
                              <br /> <br/>

                              <app-profile></app-profile>
                              
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Services Summary">
                            <ng-template ngbTabContent>
                              <br /> <br/>

                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Billing">
                            <ng-template ngbTabContent>
                              <br /> <br/>

                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Support">
                            <ng-template ngbTabContent>
                              <br /> <br/>

                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Terms">
                            <ng-template ngbTabContent>
                              <br /> <br/>

                              <app-terms></app-terms>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
      </div>
    </div>
<br />
