<div class="card text-center" style="opacity:0.9; height:180px;">
        <h2 class="card-title">Price: <strong>{{total | currency:'USD':true:'2.0-0'}}</strong><small>{{frequency}}</small></h2>
        <ul style="list-style: none;">
            <li><strong><b>{{hourly | currency:'USD':true:'2.2-2'}} Hourly</b></strong> Per Resource Equivalent</li>
            <li><b><strong>{{weekly | currency:'USD':true:'2.0-0'}} Weekly</strong></b> Per Resource Equivalent</li>
            <li><b><strong>{{monthly | currency:'USD':true:'2.0-0'}} Monthly</strong></b> Per Resource Equivalent</li>
            <li><b><strong>{{annual | currency:'USD':true:'2.0-0'}} Annual</strong></b> Per Resource Equivalent</li>
        </ul>
</div>

<!-- <p>
{{qaWeekly}}
</p>

<p>
{{qaMonthly}}
</p>

<p>
{{devWeekly}}
</p> -->
