<!-- <div class="card">
    <div class="text-center">
        <h3>
            Cost Summary - <strong><em>$5800</em></strong> (monthly)
        </h3>
        <div>
            <p>Hourly Per Resource Equivalent : $16.48 </p>
            <p>Monthly Per Resource Equivalent : $2900</p>
            <p>Annual Per Resource Equivalent : $34,800</p>
        </div>

    </div>
</div> -->

<div class="card" data-background="image" style="background-image: url('assets/img/sections/mika-matin.jpg')">
    <!-- <div class="card-body"> -->
      <div class="card-body">
        <!-- <h4 class="card-category">Pricing</h4> -->
        <!-- <h3 class="card-title">$5800</h3> -->
        <h3 ><b>Price: <strong>{{total | currency:'USD':true:'2.0-0'}}</strong></b>{{frequency}}</h3>
        <ul>
            <li><b><strong>{{hourly | currency:'USD':true:'2.2-4'}}</strong></b> Hourly Per Resource Equivalent</li>
            <li><b><strong>{{monthly | currency:'USD':true:'2.0-0'}}</strong></b> Monthly Per Resource Equivalent</li>
            <li><b><strong>{{annual | currency:'USD':true:'2.0-0'}}</strong></b> Annual Per Resource Equivalent</li>
        </ul>

    </div>
</div>
