<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <!-- <div class="angular-logo">
                        <img src="assets/img/angular2-logo.png" alt="">
                    </div> -->
                    <h1 class="presentation-title">Subscription QA</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Rethink Software Testing</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">
        <!-- <h6 class="category category-absolute">Designed and coded by -->

            <!-- <a href="https://www.creative-tim.com" target="_blank">
                <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
            </a> -->
        </h6>
    </div>
    <div class="main">
        <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Let's talk details</h2>
                    <h5 class="description">Select the services you need, the subscription timeframe (weekly/monthly), view your price, and get started! No commitments and no premiums. Get the flexibility you need for your dev lifecycle.</h5>
                    <br>
                    <a href="/services" class="btn btn-danger btn-round">Get Started</a>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-cart-simple"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Select Services</h4>
                            <p class="description">What do you need? Manual QA, Automatioin QA, don't know? We can help. We also have expertise in dev and monitoring. Choose the skill sets you need.</p>
                            <a href="/services" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-calendar-60"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Select Timeframe</h4>
                            <p>No long term commitments. Try it out for a week or a month. Change when you need. Use for as long as you need wihtout the risk!</p>
                            <a href="/services" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">View Price</h4>
                            <p>No hidden fees or surprises. See what your cost will be. Change whenever you need. We'll explain more over the setup call, before you'd be billed.</p>
                            <a href="/pricing" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Get Started</h4>
                            <p>We'll schedule a setup call (still no commitment) to help you get going. We'll go through what you need, the tools you use, and help you get started!</p>
                            <a href="/services" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Where We Can Help</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="../assets/img/web.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Web</h4>
                                    <h6 class="card-category">Any Browser</h6>
                                </div>
                            </a>
                            <!-- <p class="card-description text-center">
                            Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                            </p> -->
                        </div>
                        <!-- <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div> -->
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="../assets/img/desktop.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Desktop</h4>
                                    <h6 class="card-category">Any Platform</h6>
                                </div>
                            </a>
                            <!-- <p class="card-description text-center">
                            A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                            </p> -->
                        </div>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="../assets/img/Iphone.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Mobile</h4>
                                    <h6 class="card-category">Any Device</h6>
                                </div>
                            </a>
                            <!-- <p class="card-description text-center">
                            The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                            </p> -->
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="../assets/img/vr.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Custom</h4>
                                    <h6 class="card-category">VR/AR, Custom Hardware, etc.</h6>
                                </div>
                            </a>
                            <!-- <p class="card-description text-center">
                            The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                            </p> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>

    <app-platform-tools></app-platform-tools>


    <div class="section" id="carousel">
        <div class="container">
            <div class="tim-title">
                <h3>What our clients say</h3>
            </div>
            <div class="row">
                <div class="col-md-12 mr-auto ml-auto">
                    <div class="card page-carousel">
                        <ngb-carousel [interval]="10000">
                            <ng-template ngbSlide>
                              <div class="row">
                              <div class="col-md-7">
                                <img src="../assets/img/vivintMarketing.jpg" alt="Vivint">
                                <div class="carousel-caption">
                                    <h2 style="font-weight: bolder">Vivint</h2>
                                </div>
                              </div>
                                <div class="col-md-5 mr-auto ml-auto carousel-right">
                                    <h1>Read the case study</h1>
                                    <p>Accelerating Releases with an Extended Remote Team<br></p>
                                    <p><br><i>"Your team has really taken a load off our sholders. <br>They've far exceeded our expectations."</i> <br> - <strong>Vivint</strong> Director of Embedded Software</p>
                                    <button type="button" class="btn btn-primary btn-round">Read the Study</button>

                                </div>
                              </div>
                            </ng-template>


                            <ng-template ngbSlide>
                                <div class="row">
                                <div class="col-md-7">
                                <img src="../assets/img/silvervue.png" alt="Silvervue">
                                <div class="carousel-caption">
                                    <h2 style="font-weight: bolder"></h2>
                                </div>
                              </div>
                                <div class="col-md-5 mr-auto ml-auto carousel-right">
                                    <h1>Our Team Becomes Part of Your Team</h1>
                                    <p><i>"We've come to rely on your team completely."</i></p>
                                    <p><strong>Silvervue</strong> QA Manager.</p>
                                    <button type="button" class="btn btn-primary btn-round">Read the Study</button>

                                </div>
                              </div>
                            </ng-template>


                            <ng-template ngbSlide>
                                <div class="row">
                                <div class="col-md-7">
                                <img src="../assets/img/chatbooks.jpg" alt="Chatbooks">
                                <div class="carousel-caption">
                                    <h2 style="font-weight: bolder"></h2>
                                </div>
                              </div>
                                <div class="col-md-5 mr-auto ml-auto carousel-right">
                                    <h1>Social Impact You Can Be A Part Of</h1>
                                    <p><i>"We're crazy impressed with what you guys are doing.</i></p>
                                    <p><i>We love the social mission."</i></p>
                                    <p><strong>Chatbooks</strong> CTO</p>
                                    <a href="/impact"><button type="button" class="btn btn-primary btn-round">Learn How</button></a>

                                </div>
                              </div>
                            </ng-template>

                        </ngb-carousel>
                    </div>
                </div>
                <!-- <div class="col-md-5 mr-auto ml-auto">
                    <h1>Read the case study</h1>
                    <p>Accelerating Releases with an Extended Remote Team</p>
                    <p>How Seva augmented the Vivint QA process.</p>
                    <button type="button" class="btn btn-primary btn-round">Read the Study</button>

                </div> -->
            </div>
        </div>
    </div>

    <div class="testimonials-1 section-image" style="background-image: url('assets/img/sections/uriel-soberanes.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h2 class="title">Our Partners Love Us</h2>
                        <h5 class="description">You need more information? Check what other persons are saying about our product. They are very happy with their purchase.</h5>
                    </div>
                </div>
                <div class="space-top"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-testimonial">
                            <div class="card-icon">
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <p class="card-description">
                                    Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep up the great work!
                                </p>
                                <div class="card-footer">
                                    <h4 class="card-title">Alec Thompson</h4>
                                    <h6 class="card-category">@alecthompson</h6>
                                    <div class="card-avatar">
                                        <a href="#pablo">
                                            <img class="img" src="assets/img/faces/ayo-ogunseinde-2.jpg" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-testimonial">
                            <div class="card-icon">
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <p class="card-description">
                                    "Don't be scared of the truth because we need to restart the human foundation in truth. That's why I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is not so attractive"
                                </p>
                                <div class="card-footer">
                                    <h4 class="card-title">Gina Andrew</h4>
                                    <h6 class="card-category">@ginaandrew</h6>
                                    <div class="card-avatar">
                                        <a href="#pablo">
                                            <img class="img" src="assets/img/faces/joe-gardner-2.jpg" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-testimonial">
                            <div class="card-icon">
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <p class="card-description">
                                    "Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep up the great work!"
                                </p>
                                <div class="card-footer">
                                    <h4 class="card-title">Joe West</h4>
                                    <h6 class="card-category">@georgewest</h6>
                                    <div class="card-avatar">
                                        <a href="#pablo">
                                            <img class="img" src="assets/img/faces/kaci-baum-2.jpg" />
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


            <div class="projects-3" id="projects-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <!-- <div class="space-top"></div> -->
                            <!-- <h6 class="category">Our work</h6> -->
                            <h2 class="title">Some of Our Awesome Projects</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                                <div class="card-img-top">
                                    <a href="http://www.creative-tim.com/product/paper-kit">
                                        <img class="img" src="assets/img/sections/angelo-pantazis.jpg" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-category">Productivity tools</h6>
                                    <h4 class="card-title">Beautiful Desktop for Designers</h4>
                                    <p class="card-description">
                                        As this technology matures it will be cool to see what hackers are able to do with it.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 ">
                            <div class="card card-profile card-plain">
                                <div class="card-img-top">
                                    <a href="http://www.creative-tim.com/product/paper-kit">
                                        <img class="img" src="assets/img/sections/patrick-tomasso.jpg" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-category">Web Design</h6>
                                    <h4 class="card-title">Famous Website Redesign Implementation</h4>
                                    <p class="card-description">
                                        Streaming services once again top the list of this year’s Emmy nominations
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                                <div class="card-img-top">
                                    <a href="http://www.creative-tim.com/product/paper-kit">
                                        <img class="img" src="assets/img/sections/luke-chesser.jpg" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-category">Marketing tools</h6>
                                    <h4 class="card-title">The Best Productivity Applications</h4>
                                    <p class="card-description">
                                        Dietary supplements don’t need approval from the Food and Drug Administration.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




    <div class="section section-dark">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title" style="color: white">Like what you see?</h2>
                    <p class="description" style="color: white; font-weight: bolder;">We can help you get started now!</p>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-6 download-area ml-auto mr-auto">
                    <a href="" class="btn btn-success btn-round">Download QA Best Practices</a>
                    <a href="" class="btn btn-danger btn-round">Get Started</a>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label  style="color: white">Name</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label  style="color: white">Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 download-area ml-auto mr-auto">
                                <a href="" class="btn btn-info btn-round">Download QA Best Practices</a>
                                <a href="" class="btn btn-danger btn-round btn-lg">Learn More</a>
                            </div>
                        </div>
                        <!-- <h2 class="text-center">Or reach out to learn more!</h2>

                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-warning btn-lg btn-round">Send Message</button>
                            </div>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
